<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manage Customers</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid text-center">
  <div><h2>Manage Customers</h2></div>
  <div>
    <a class="h3 p-10" th:href="@{./}">Home</a>
    <a class="h3 p-10" th:href="@{/customers/generate}">Generate Random Customer</a>
    <a class="h3 p-10" th:href="@{/customers/new}">Add New Customer</a>
  </div>

<div th:if="${message}" class="alert alert-success text-center">
  [[${message}]]
</div>

  <div>
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <th:block th:each="customer : ${listCustomers}">
        <tr>
          <td>[[${customer.id}]]</td>
          <td>[[${customer.firstName}]]</td>
          <td>[[${customer.lastName}]]</td>
          <td>[[${customer.email}]]</td>
          <td>
            <a class="h4 mr-3" th:href="@{'/customers/edit/' + ${customer.id}}">Edit</a>
            <a class="h4" th:href="@{'/customers/delete/' + ${customer.id}}">Delete</a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>