<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web Configurator</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid text-center">
    <h1>Web Configurator</h1>
    <a class="h2" th:href="@{/customers}">Manage Customers</a>
    <a class="h2" th:href="@{/products}">Manage Products</a>
    <a class="h2" th:href="@{/orders}">Manage Orders</a>
</div>
</body>
</html>